<div class="sidebar">
    
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="page_link">Dashboard</a>
        <a routerLink="/flight_offers" routerLinkActive="active" class="page_link">Flight Offers</a>
        <a routerLink="/api-manager" routerLinkActive="active" class="page_link">API Manager</a>
        <a routerLink="/reference-data" routerLinkActive="active" class="page_link">reference-data</a>
        <div>
        <a routerLink="/google-map" routerLinkActive="active" class="page_link">google-map</a>
    </div>
    <!-- <a routerLink="/conversation" routerLinkActive="active">conversation</a> -->
    <div class="conversation-link" routerLink="/conversation" routerLinkActive="inactive">
        conversation
        <div class="session_bundle">
            <div *ngFor="let session of sessions">
                
                <!-- <a (click)="onSessionClick(session.sessionId)"
                    [class.active]="activeSessionId === session.sessionId"
                    class="session_link">{{ session.title }}</a>

                    <input [(ngModel)]="session.title"
                    (keyup.enter)="updateSessionTitle(session.sessionId, session.title)"
                    [class.active]="activeSessionId === session.sessionId"
                    class="session_input" />
                </div> -->

            <div (click)="onSessionClick(session.sessionId)"
                (dblclick)="enableEdit(session)"
                [class.active]="activeSessionId === session.sessionId"
                class="session_link">
                <input *ngIf="session.editing"
                    [(ngModel)]="session.title"
                    (keyup.enter)="updateSessionTitle(session.sessionId, session.title); disableEdit(session)"
                    (blur)="updateSessionTitle(session.sessionId, session.title); disableEdit(session)"
                    class="session_input" />
                <span *ngIf="!session.editing">{{ session.title }}</span>
            </div>
            
        </div>
        <button (click)="addSession()" class="addSessionButton">Add Session</button>
    </div>
</div>
